.modal-container {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
}

.modal {  
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    min-width: 500px;
    min-height: 500px;
}

.modal-title {
    top: 0;
    margin: 5px 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: left;
    align-items: center;
}

.exit {
    margin-left: auto;
    padding: 10px;
}

.exit:hover {
    opacity: 0.5;
    cursor: pointer;
}

.modal-body {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label {
    margin: 0 5px;
}

input {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.616);
    width: 100%;
}

select {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.616);
    width: 100%;
}

option {
    background-color: rgba(255, 255, 255, 0.616);
}

.row {
    display: flex;
}

.modal-footer {
    padding: 1rem;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
}