body {
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgba(255, 255, 255, 0.63);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 1rem;
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

header p {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.adicionar {
  margin-left: auto;
  background-color: rgb(7, 190, 31);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
}

header button:hover {
  background-color: rgba(7, 190, 31, 0.74);
}

footer {
  background-color: rgba(255, 255, 255, 0.63);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  backdrop-filter: blur(5px);
}

footer p {
  font-size: 1rem;
  opacity: 0.8;
}

main {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

table {
  width: 100%;
  border-bottom: 1px solid rgb(219, 219, 219);
  padding: 0.5rem 0;
}

table th {
  min-width: 33.33%;
  max-width: 33.33%;
  text-align: center;
}

table td {
  min-width: 33.33%;
  max-width: 33.33%;
  text-align: center;
}

.card-actions {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.white-button {
  background-color: rgb(235, 235, 235);
  color: rgba(0, 0, 0, 0.589);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  margin: 10px 0;
  border: 0.5px solid rgba(0, 0, 0, 0);
}

.white-button:hover {
  background-color: rgba(235, 235, 235, 0.596);
  border: 0.5px solid rgba(0, 0, 0, 0.11);
}
